<template>
  <div class="main">
    <div class="container">
      <div class="signup-content">
        <div class="signup-img">
          <img src="/images/gnome.jpeg" alt />
          <div class="signup-img-content">
            <h2>Pendaftaran GNOME.Asia Summit 2019</h2>
            <p>Tempat Terbatas!</p>
            <p>
              Dapatkan
              <i>cashback</i>
              <br />untuk 200 pendaftar pertama
            </p>
          </div>
        </div>
        <div class="signup-form">
          <form
            @submit.prevent="formSubmit()"
            enctype="multipart/form-data"
            class="register-form"
            id="register-form"
          >
            <div class="form-row parent">
              <div class="form-group child1">
                <div class="form-input">
                  <label class="required">Nama Lengkap</label>
                  <input type="text" required v-model="name" />
                </div>
                <div class="form-input">
                  <label class="required">Alamat Surel</label>
                  <input type="email" required v-model="email" />
                </div>
                <div class="form-input">
                  <label class="required">No Telepon</label>
                  <input type="number" required v-model="phone_number" />
                </div>
                <div class="form-input">
                  <label class="required">Asal Instansi/Universitas</label>
                  <input type="text" required v-model="country" />
                </div>
                <div class="form-input">
                  <label class="required">Ukuran T-Shirt</label>
                  <a
                    href="https://docs.google.com/presentation/d/1fCoZG9MHv4JYmxGkCTQzNyQgtbipjq9sCdeVoME6o_M/edit?usp=sharing"
                    target="_blank"
                  >Panduan Ukuran</a>
                  <div class="form-radio-group">
                    <div class="form-radio-item">
                      <input type="radio" name="tshirt" value="S" id="S" v-model="tshirt" />
                      <label for="S">S</label>
                      <span class="check"></span>
                    </div>
                    <div class="form-radio-item">
                      <input type="radio" name="tshirt" value="M" id="M" v-model="tshirt" />
                      <label for="M">M</label>
                      <span class="check"></span>
                    </div>
                    <div class="form-radio-item">
                      <input type="radio" name="tshirt" value="L" id="L" v-model="tshirt" />
                      <label for="L">L</label>
                      <span class="check"></span>
                    </div>
                    <div class="form-radio-item">
                      <input type="radio" name="tshirt" value="XL" id="XL" v-model="tshirt" />
                      <label for="XL">XL</label>
                      <span class="check"></span>
                    </div>
                    <div class="form-radio-item">
                      <input type="radio" name="tshirt" value="XXL" id="XXL" v-model="tshirt" />
                      <label for="XXL">XXL</label>
                      <span class="check"></span>
                    </div>
                  </div>
                </div>
                <div class="form-radio">
                  <div class="label-flex">
                    <label class="required" for="amount">Tiket</label>
                  </div>
                  <div class="form-radio-group">
                    <div class="form-radio-item">
                      <input
                        @click="hideUpload()"
                        type="radio"
                        name="amount"
                        value="100000"
                        id="umum"
                        v-model="amount"
                      />
                      <label for="umum">Umum - IDR 100K</label>
                      <span class="check"></span>
                    </div>
                    <div class="form-radio-item">
                      <input
                        @click="showUpload()"
                        type="radio"
                        name="amount"
                        id="pelajar"
                        value="50000"
                        v-model="amount"
                      />
                      <label for="pelajar">Mahasiswa / Pelajar - IDR 50K</label>
                      <span class="check"></span>
                    </div>
                  </div>
                  <div id="divfile" class="hide">
                    <div class="col-md-3" v-if="image">
                      <img :src="image" class="img-responsive" height="70" width="90" />
                    </div>
                    <div class="form-input">
                      <label class="required">Unggah Kartu Tanda Mahasiswa</label>
                      <input id="fileimage" name="image" type="file" v-on:change="onImageChange" />
                    </div>
                  </div>
                  <div class="form-submit">
                    <button type="submit" class="submit" id="submit">Daftar</button>
                  </div>
                </div>
              </div>
              <div class="form-group child2">
                <div class="card">
                  <div class="card-header">Cara Pembayaran</div>
                  <div class="card-body">
                    <ol>
                      <li>Mohon membuka halaman ini melalui desktop agar memudahkan memindai qrcode.</li>
                      <li>
                        Pasang aplikasi MyCOOP
                        <a
                          href="https://play.google.com/store/apps/details?id=io.sakti.mycoop"
                        >dari Google Play Store</a> atau
                        <a
                          href="https://apps.apple.com/id/app/mycoop/id1446428383?l=id"
                        >dari Apple Store.</a>
                      </li>
                      <li>Daftarkan diri Anda pada aplikasi MyCOOP yang telah terpasang pada handphone Anda.</li>
                      <li>
                        Setelah berhasil mendaftarkan diri di MyCOOP, topup saldo MyCOOP Anda terlebih dahulu.
                        <ol>
                          <li>Topup saldo MyCOOP dapat melalui virtual account BNI, dapat juga ditransfer melalui bank lain, misal Bank Mandiri, Jenius BTPN, dll).</li>
                          <li>
                            Topup saldo MyCOOP juga dapat dilakukan melalui
                            <nuxt-link to="/mitra" target="_blank">Mitra MyCOOP dari GNOME-ID.</nuxt-link>
                          </li>
                        </ol>
                      </li>
                      <li>Isi formulir pendaftaran pada halaman ini.</li>
                      <li>
                        Setelah Anda menekan tombol
                        <b>BAYAR</b>, akan muncul qrcode.
                      </li>
                      <li>Pindai qrcode tersebut dengan aplikasi MyCOOP untuk melakukan pembayaran.</li>
                      <li>
                        Syarat dan ketentuan
                        <nuxt-link to="/cashback" target="_blank">
                          <i>cashback</i>
                        </nuxt-link>
                      </li>
                    </ol>
                    <p style="color: #000000;">
                      Punya pertanyaan? Hubungi kami di
                      <a
                        href="mailto:humas@gnome.id?subject=Daftar Peserta GNOME.Asia Summit 2019"
                      >humas@gnome.id</a>
                    </p>
                    <img src="/images/mycoop.png" alt="mycoop" style="height:225px;" />
                    <p style="color: #000000;">
                      Jadwal lengkap GNOME.Asia Summit 2019 ada
                      <a
                        href="https://2019.gnome.asia/#schedule"
                        target="_blank"
                      >disini</a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      name: "",
      email: "",
      phone_number: null,
      country: "",
      tshirt: "",
      image: "",
      swal: {},
      amount: 0,
      loading: false
    };
  },
  methods: {
    async initPage() {},
    start() {
      this.loading = true;
    },
    finish() {
      this.loading = false;
    },
    onImageChange(e) {
      let files = e.target.files || e.dataTransfer.files;
      if (!files.length) return;
      this.createImage(files[0]);
    },
    createImage(file) {
      let reader = new FileReader();
      let vm = this;
      reader.onload = e => {
        vm.image = e.target.result;
      };
      reader.readAsDataURL(file);
    },
    showUpload() {
      document.getElementById("divfile").style.display = "block";
    },
    hideUpload() {
      document.getElementById("divfile").style.display = "none";
    },
    async formSubmit() {
      try {
        this.start();
        await this.$axios
          .post("/sakti/create/qrcode", {
            amount: this.amount,
            name: this.name,
            email: this.email,
            phone_number: this.phone_number,
            country: this.country,
            tshirt: this.tshirt,
            image: this.image
          })
          .then(response => {
            this.finish();
            document.getElementById("divfile").style.display = "none";
            document.getElementById("fileimage").value = "";
            this.name = "";
            this.email = "";
            this.phone_number = null;
            this.country = "";
            this.tshirt = "";
            this.image = "";
            this.amount = 0;

            this.$swal({
              title: "Informasi",
              text:
                "Silakan scan QRCode di aplikasi MyCOOP :). QRCode berlaku hanya 24 jam. QRCode juga akan dikirimkan ke surel Anda. Jika Anda belum membayar, maka data Anda tidak akan masuk kedalam data peserta. Bila Anda punya pertanyaan, hubungi panitia di humas@gnome.id",
              type: "info",
              imageUrl: response.data.data.url,
              showCloseButton: true,
              animation: true
            });
          });
      } catch (error) {
        this.finish();
        this.$swal({
          title: "Informasi",
          text: "Silakan cek kembali data Anda",
          type: "error",
          showCloseButton: true,
          animation: true
        });
      }
    }
  },
  mounted() {
    this.initPage();
  }
};
</script>
<style scoped>
.loading-page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffffff;
  background-image: url("/images/favicon.png");
  background-position: center;
  background-repeat: no-repeat;
}
</style>
