<template>
  <div class="container">
    <div class="signup-content">
      <div class="signup-img">
        <img src="/images/gnome.jpeg" alt />
        <div class="signup-img-content">
          <h2>Pendaftaran GNOME.Asia Summit 2019</h2>
          <p>Tempat Terbatas!</p>
          <p>
            Dapatkan
            <i>cashback</i>
            <br />untuk 200 pendaftar pertama
          </p>
        </div>
      </div>
      <div class="signup-form">
        <form class="register-form">
          <div class="form-row parent">
            <div class="form-group child2">
              <div class="card">
                <div class="card-header">Mitra MyCOOP GNOME-ID</div>
                <div class="card-body">
                  <ol>
                    <li>
                      Kontak Telegram
                      <a
                        href="https://t.me/mitra_openSUSEID"
                      >https://t.me/mitra_openSUSEID</a>
                    </li>
                    <li>Informasikan nomor akun MyCOOP Anda</li>
                    <li>Transfer ke nomor rekening mitra sejumlah nilai topup Anda</li>
                    <li>Konfirmasikan ke mitra jika sudah transfer</li>
                    <li>Mitra akan topup akun MyCOOP Anda</li>
                  </ol>
                  <p style="color: #000000;">
                    Punya pertanyaan? Hubungi kami di
                    <a
                      href="mailto:humas@gnome.id?subject=Daftar Peserta GNOME.Asia Summit 2019"
                    >humas@gnome.id</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>
